<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SnippetApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snippet_Sharing_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash/Main Activity -->
        <activity
            android:name=".ui.team.TeamsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.team.CreateTeamActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.team.TeamChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.team.TeamDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.team.TeamSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.team.TeamSnippetsActivity"
            android:exported="false" />
        <!-- Splash/Main Activity - Redirects to Login or Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App" />

        <!-- Profile Activity -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App.Profile" />

        <!-- Onboarding Activity - Entry Point -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Auth Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.OtpVerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Home Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- Edit Profile Activity -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App.Profile"
            android:windowSoftInputMode="adjustResize" />

        <!-- Account Settings Activity -->
        <activity
            android:name=".ui.profile.AccountSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App.Profile"
            android:windowSoftInputMode="adjustResize" />

        <!-- Notification Settings Activity -->
        <activity
            android:name=".ui.profile.NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App.Profile"
            android:windowSoftInputMode="adjustResize" />

        <!-- Notifications List Activity -->
        <activity
            android:name=".ui.notification.NotificationsActivity"
            android:exported="false" />

        <!-- Privacy Settings Activity -->
        <activity
            android:name=".ui.profile.PrivacySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snippet_Sharing_App.Profile"
            android:windowSoftInputMode="adjustResize" />

        <!-- Explore Activity -->
        <activity
            android:name=".ui.explore.ExploreActivity"
            android:exported="false" />

        <!-- Snippet Activities -->
        <activity
            android:name=".ui.snippet.CreateSnippetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.mysnippets.MySnippetsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Favorites Activity -->
        <activity
            android:name=".ui.favorites.FavoritesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.language.BrowseLanguagesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Shared With Me Activity -->
        <activity
            android:name=".ui.shared.SharedWithMeActivity"
            android:exported="false" />

        <!-- Help & Support Activity -->
        <activity
            android:name=".ui.help.HelpSupportActivity"
            android:exported="false" />

    </application>

</manifest>
